.Contact-Form{
    text-align: left;
}

.products{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
}
.container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.productscard{
    border-radius: 5px;
    width: 15%;

    padding: 10px;
    margin: 40px 20px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 20px;
}
.photo2{
    height: 290px;
    width: 235px;
}
.cartAdd {
    float: right;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
